body{
margin:0;
font-family:Arial;
background:linear-gradient(90deg,#1a2a6c,#2c3e90);
}

.main-container{
text-align:center;
padding:40px;
}

.login-box{
display:flex;
background:white;
border-radius:10px;
width:900px;
margin:auto;
padding:30px;
}

.left-section{
width:40%;
text-align:left;
}

.logo{
display:flex;
align-items:center;
gap:10px;
margin-bottom:20px;
}

.logo img{
width:60px;
}

label{
display:block;
margin-top:15px;
font-size:14px;
}

input{
width:100%;
padding:10px;
border:none;
border-bottom:1px solid gray;
outline:none;
}

.password-box{
position:relative;
}

.password-box i{
position:absolute;
right:10px;
top:12px;
cursor:pointer;
}

button{
margin-top:20px;
width:100%;
padding:12px;
border:none;
background:#5b3a7a;
color:white;
font-size:16px;
border-radius:20px;
cursor:pointer;
}

button:hover{
background:#45265f;
}

.right-section{
width:60%;
text-align:center;
}

.right-section h1{
color:#7a0b18;
}

.student{
color:green;
margin-top:10px;
}

.image{
width:200px;
margin-top:20px;
}

.footer{
color:white;
margin-top:30px;
font-size:14px;
}
